body{
	width: 960px;
	margin: 0 auto;
	font-family: Arian, sans-serif;
	font-size: 16px;
	color: #fff;
}

#header{
	background: #7abaff;
	padding: 10px 25px;

}
#content{
	background: #e0a800;
	width: 596px;
	float: left;
	padding: 1em;

}
#sidebar{
	background: #1c7430;
	width: 300px;
	float: right;
	padding: 1em;

}
#footer{
	clear: both;
	background-color: #9999;
	padding: 1em;
}